doctype html
html
  head
    block head
      title Natours | #{title}
      link(rel="stylesheet" href='/css/style.css')
      link(rel="shortcut icon" type="image/png" href="/img/favicon.png")

      meta(charset="UTF-8")
      meta(name="viewport" content="width=device-width, initial-scale=1.0")

      link(href="https://fonts.googleapis.com/css?family=Lato:300,300i,700"
        rel="stylesheet")
      script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js')
  body
    include _header

    // CONTENT
    block content

    include _footer

      //- body
      //-   h1= tour
      //-   h2= user.toUpperCase()
      //-   //- p Paragraph
      //-   - const x = 9
      //-   h2= 2 * x
